body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
.header{
    background-color: yellow;
    padding: 20px;
    border-radius: 20px 20px 0 0;
}
.p-style{
    font-size: 12px;
    margin: 0px;
}
.h1{
    font-size: 48px;
    margin: 10px;
    font-weight: bold;
}
.main{
    max-width: 800px;
    margin:0 auto;
    padding: 20px;
}
.section{
    margin: top 30px;
}
.h2{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;  
}
.p,li{
    font-size: 16px;
}
.ul{
   list-style-type: none; 
   padding-left: 0;
}
.ul,li{
    margin-bottom: 15px;
}


